@import "_reset.scss";
@import "common.scss";
@import "top_img.scss";
@import "post_entry.scss";
@import "home.scss";
*.focus{
	outline:none;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
html,body{
	width:100%;
	height:100%;
	font-size:14px;
	background-color:$bg_color;
}
i{
	display:inline-block;
}
.header-bg{
	position: relative;
	width:100%;
	height:$nav_height;
	background-color: $header_bg;
	text-align: center;
}
.header-wrap{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width:$min_width;
	max-width: $min_width;
	height: 100%;
	text-align: left;
}
.header-logo-wrap{
	float: left;
	margin-right:1rem;
	.logo-img{
		width: 216px;
	    padding-top: 12px;
	}
}

.header-nav-wrap{
	position: relative;
	z-index:100;
	height:100%;
	float: left;
	color:$nav_color;
	a{
		color:$nav_color;
	}
	.nav-menu{
		position: relative;
		.menu-item{
			position: relative;
			float:left;
			&:hover{
				background-color:$nav_hover_bg_color;
				.sub-menu{
					display: block;
				}
			}
			a{
				display: inline-block;
				height:$nav_height;
				line-height: $nav_height;
				padding:0 10px;
			}
		}
		.sub-menu{
			position: absolute;
			left:0;
			top:$nav_height;
			display: none;
			width:$sub_menu_width;
			height:$nav_height;
			.menu-item{
				width:100%;
				background-color:$sub_nav_bg_color;
				&:hover{
					background-color:$sub_nav_hover_bg_color;
				}
			}
		}
	}
}
.header-search-wrap{
	position: relative;
	margin-top: 18px;
	float: right;
	.search-input-wrap{
		position: relative;
		border-radius: 10px;
		.search-input{
			width:$search_input_width;
			padding:3px 20px 3px 8px;
			border:none;
			border-radius: 30px;
			background: url(img/search.png) #fff right 2px no-repeat;
		}
	}
	
}
.header-login-wrap{
	position: relative;
	float: right;
	height:$nav_height;
	line-height: $nav_height;
	color:#fff;
	margin-left:10px;
	.register-btn, .login-btn{
		cursor: pointer;
		margin:0 5px;
        color:#fff;
		&:hover{
			text-decoration:underline;
		}
	}
	.login-bar-link{
		color:#dbe0e3;
		&:hover{
			color:#fff;
		}
	}
}
.gonggao-wrap{
	position: relative;
	background-color: $gonggao_bg_color;
	height:$gonggao_height;
	line-height: $gonggao_height;
	.gonggao-content{
		margin: 0 auto;
		width:$min_width;
		height:100%;
		&-content{
			float: left;
		}
	}
	.horn-icon{
	    background: url(img/icons.png) -36px 3px no-repeat;
		width:30px;
		height:$gonggao_height;
		float:left;
	}
}
.g-wrap{
	position:relative;
	min-width:$min_width;
	max-width:$max_width;
	background-color:$bg_color;
	display:block;
	margin:0 auto;
}

.g-content{
	position: relative;
	width:$min_width;
	margin:40px auto;
}
.second-nav-wrap{
	margin: 20px auto 20px auto;
    width: 1246px;
    height: 46px;
    background: #fff;
    color: #7f8199;
    border: 1px solid #e6e6e7;
    border-bottom: 1px solid #d2d2d3;
    font-size: 12px;
    overflow: hidden;
    -moz-box-shadow: 0 1px 1px #e6e6e7;
    -webkit-box-shadow: 0 1px 1px #e6e6e7;
    box-shadow: 0 1px 1px #e6e6e7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e7')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1,Direction=135,Color='#e6e6e7');
    .second-nav{
    	position: relative;
    	float: left;
    	&-menu{
			
		    a{
		    	float: left;
		    	display: block;
		    	border-right: 1px solid #e6e6e7;
		    	font-size: 14px;
		    	padding: 10px 24px 15px 24px;
		    	line-height: 26px;
		    	color:#7f8199;
		    	&.active{
		    		border-top: 3px solid #7f8199;
					color: #333;
					padding-top:7px;
		    	}

		    }
    		
    	}
    }
}
